<a href="https://colab.research.google.com/github/joaocbjr/Python_do_zero_ao_DS/blob/main/Aula_02_Extra%C3%A7%C3%A3o_e_Manipula%C3%A7%C3%A3o_de_Dados_1_b%C3%A1sico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Novas perguntas do CEO:

16. Qual a data do imóvel mais antigo no portifólio?
17. Quantos imóveis possuem o número máximo de andares?
18. Criar uma classificação para os imóveis, separando-os em baixo e alto padrão, de acordo com preço.

* Acima de RS 540.000 -> Alto padrão
* Abaixo de R$ 540.000 -> Baixo padrão

19. Gostaria de um relatório ordenado pelo preço e contendo as seguintes informações:

* ID do imóvel
* Data que o imóvel ficou disponível pra compra
* O número de quartos
* O tamanho total do terreno
* O preço
* A classificação do imóvel (alto e baixo padrão)

20. Gostaria de um Mapa indicando onde as casas estão localizadas geograficamente.

###Planejamento da solução:
1. Produto Final - O que entregar? (Planilha, email, gráfico, modelo de ML...)
*** Email + 02 anexos ***
  * Email: 
    * Texto: Perguntas | Respostas
  * Anexo:
    * Um relatório em .csv
    * A foto de um mapa em HTML

2. Ferramenta - qual ferramenta usar?
  * Python 3
  * 
3. Processo - Como fazer?

## Indentificar os tipos de variáveis - *dtypes*:

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/content/kc_house_data.csv')

###Mosta na tela os tipos de variáveis em cada coluna

In [4]:
print(data.dtypes)

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

###Função que converte de "object" (string) -> date

In [5]:
data['date'] = pd.to_datetime(data['date'])

In [16]:
print(data.dtypes)

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

___
##Converter os tipos de variáveis
___

In [7]:
# INTEIRO -> FLOAT
data['bedrooms'] = data['bedrooms'].astype(float)

In [9]:
# FLOAT -> INTEIRO
data['bedrooms'] = data['bedrooms'].astype(int)

In [12]:
# INTEIRO -> STRING
data['bedrooms'] = data['bedrooms'].astype(str)

In [15]:
# STRING -> INTEIRO
data['bedrooms'] = data['bedrooms'].astype(int)