<a href="https://colab.research.google.com/github/joaocbjr/Python_do_zero_ao_DS/blob/main/Aula01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/kc_house_data.csv')
print(data)

               id             date  ...  sqft_living15  sqft_lot15
0      7129300520  20141013T000000  ...           1340        5650
1      6414100192  20141209T000000  ...           1690        7639
2      5631500400  20150225T000000  ...           2720        8062
3      2487200875  20141209T000000  ...           1360        5000
4      1954400510  20150218T000000  ...           1800        7503
...           ...              ...  ...            ...         ...
21608   263000018  20140521T000000  ...           1530        1509
21609  6600060120  20150223T000000  ...           1830        7200
21610  1523300141  20140623T000000  ...           1020        2007
21611   291310100  20150116T000000  ...           1410        1287
21612  1523300157  20141015T000000  ...           1020        1357

[21613 rows x 21 columns]

###HEAD - Mostra as 05 primeiras linhas do conjunto de dados

In [ ]:
print(data.head())

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

###SHAPE - Mostra o número de colunas e de linhas

In [ ]:
print(data.shape)

(21613, 21)

###COLUMNS - Mostra o nome das colunas

In [ ]:
print(data.columns)

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

### Mostra conjunto de dados ordenados por uma coluna (price)

In [ ]:
print(data[['id', 'price']].sort_values('price'))

               id      price
1149   3421079032    75000.0
15293    40000362    78000.0
465    8658300340    80000.0
16198  3028200080    81000.0
8274   3883800011    82000.0
...           ...        ...
1448   8907500070  5350000.0
4411   2470100110  5570000.0
9254   9208900037  6885000.0
3914   9808700762  7062500.0
7252   6762700020  7700000.0

[21613 rows x 2 columns]

###Mostra conjunto de dados ordenado por uma coluna do maior para o menor (price)

In [ ]:
print(data[['id', 'price']].sort_values('price', ascending=False))

               id      price
7252   6762700020  7700000.0
3914   9808700762  7062500.0
9254   9208900037  6885000.0
4411   2470100110  5570000.0
1448   8907500070  5350000.0
...           ...        ...
8274   3883800011    82000.0
16198  3028200080    81000.0
465    8658300340    80000.0
15293    40000362    78000.0
1149   3421079032    75000.0

[21613 rows x 2 columns]

#Exercício

## Perguntas do CEO pra você:

1.   Quantas casas estão disponíveis para compra?
2.   Quantos atributos as casas possuem?
3. Quais são os atributos das casas?
4. Qual a casa mais cara (casa com maior valor de venda)?
5. Qual a casa com o maior número de quartos?
6. Qual a soma total de quartos do conjunto de dados?
7. Quantas casas possuem 2 banheiros?
8. Qual o preço médio de todas as casas do conjunto de dados?
9. Qual o preço médio de casa de 2 banheiros?
10. Qual o preço mínimo entre as casas com 3 quartos?
11. Quantas casas possuem mais de 300 metros quadrados na sala de estar?
12. Quantas casas tem mais de 2 andares?
13. quantas casas tem vista para o mar?
14. Das casas com vista pro mar, quantas tem 3 quartos?
15. Das casas com mais de 300 metros quadrados de sala de estar, quantas tem 2 banheiros?

##Resolução

1. Quantas casas estão disponíveis para compra?

In [ ]:
print(data.shape)
print('R: 21.613 casas')

(21613, 21)
R: 21.613 casas

2.   Quantos atributos as casas possuem?

In [ ]:
print(data.columns)
print('R: 11 atributos')

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')
R: 11 atributos

3. Quais são os atributos das casas?

In [ ]:
print('R: bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement')

R: bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement

4. Qual a casa mais cara (casa com maior valor de venda)?

In [ ]:
print(data[['id', 'price']].sort_values('price', ascending=False))
print('R: Casa de ID 6762700020, com o valor de US$ 7.700.000')

               id      price
7252   6762700020  7700000.0
3914   9808700762  7062500.0
9254   9208900037  6885000.0
4411   2470100110  5570000.0
1448   8907500070  5350000.0
...           ...        ...
8274   3883800011    82000.0
16198  3028200080    81000.0
465    8658300340    80000.0
15293    40000362    78000.0
1149   3421079032    75000.0

[21613 rows x 2 columns]
R: Casa de ID 6762700020, com o valor de US$ 7.700.000

5. Qual a casa com o maior número de quartos?

In [ ]:
print(data[['id', 'bedrooms']].sort_values('bedrooms', ascending=False))
print('R: Casa de ID 2402100895, com 33 quartos')

               id  bedrooms
15870  2402100895        33
8757   1773100755        11
15161  5566100170        10
13314   627300145        10
19254  8812401450        10
...           ...       ...
19452  3980300371         0
8484   2310060040         0
875    6306400140         0
8477   2569500210         0
9773   3374500520         0

[21613 rows x 2 columns]
R: Casa de ID 2402100895, com 33 quartos

6. Qual a soma total de quartos do conjunto de dados?

In [ ]:
soma_quarto = data['bedrooms'].sum()
print('R: A soma dos quartos dos imóveis é',soma_quarto)

R: A soma dos quartos dos imóveis é 72854

7. Quantas casas possuem 2 banheiros?