<a href="https://colab.research.google.com/github/joaocbjr/Python_do_zero_ao_DS/blob/main/Aula_02_Extra%C3%A7%C3%A3o_e_Manipula%C3%A7%C3%A3o_de_Dados_1_b%C3%A1sico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Novas perguntas do CEO:

16. Qual a data do imóvel mais antigo no portifólio?
17. Quantos imóveis possuem o número máximo de andares?
18. Criar uma classificação para os imóveis, separando-os em baixo e alto padrão, de acordo com preço.

* Acima de RS 540.000 -> Alto padrão
* Abaixo de R$ 540.000 -> Baixo padrão

19. Gostaria de um relatório ordenado pelo preço e contendo as seguintes informações:

* ID do imóvel
* Data que o imóvel ficou disponível pra compra
* O número de quartos
* O tamanho total do terreno
* O preço
* A classificação do imóvel (alto e baixo padrão)

20. Gostaria de um Mapa indicando onde as casas estão localizadas geograficamente.

###Planejamento da solução:
1. Produto Final - O que entregar? (Planilha, email, gráfico, modelo de ML...)
*** Email + 02 anexos ***
  * Email: 
    * Texto: Perguntas | Respostas
  * Anexo:
    * Um relatório em .csv
    * A foto de um mapa em HTML

2. Ferramenta - qual ferramenta usar?
  * Python 3
  * 
3. Processo - Como fazer?

## Indentificar os tipos de variáveis - *dtypes*:

In [54]:
import pandas as pd

In [55]:
data = pd.read_csv('/content/kc_house_data.csv')

###Mosta na tela os tipos de variáveis em cada coluna

In [56]:
print(data.dtypes)

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

###Função que converte de "object" (string) -> date

In [57]:
data['date'] = pd.to_datetime(data['date'])

In [58]:
print(data.dtypes)

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

___
##Converter os tipos de variáveis
___

In [ ]:
# INTEIRO -> FLOAT
data['bedrooms'] = data['bedrooms'].astype(float)

In [ ]:
# FLOAT -> INTEIRO
data['bedrooms'] = data['bedrooms'].astype(int)

In [ ]:
# INTEIRO -> STRING
data['bedrooms'] = data['bedrooms'].astype(str)

In [ ]:
# STRING -> INTEIRO
data['bedrooms'] = data['bedrooms'].astype(int)

----
#Manipulando as Variáveis
---
* Criar (colunas de variáveis e novas linhas)
* Deletar (colunas de variáveis e novas linhas)
* Selecionar:
  1. Direto pelo nome das colunas.
  2. Pelos índices das colunas.
  3. Pelos índices das linhas e pelo nome das colunas.
  4. Pelos ìndices booleanos.

___
##Criando novas variáveis
___

In [59]:
data['Linguagem'] = 'Python'
print(data.columns)

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'Linguagem'],
      dtype='object')

In [39]:
print(data[['id', 'date', 'Linguagem']])

               id             date Linguagem
0      7129300520  20141013T000000    Python
1      6414100192  20141209T000000    Python
2      5631500400  20150225T000000    Python
3      2487200875  20141209T000000    Python
4      1954400510  20150218T000000    Python
...           ...              ...       ...
21608   263000018  20140521T000000    Python
21609  6600060120  20150223T000000    Python
21610  1523300141  20140623T000000    Python
21611   291310100  20150116T000000    Python
21612  1523300157  20141015T000000    Python

[21613 rows x 3 columns]

---
##Deletar variáveis
---

In [60]:
print(data.columns)
data = data.drop(['Linguagem'], axis=1)
print(data.columns)

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'Linguagem'],
      dtype='object')
Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

---
##Seleção de dados - Direto pelo nome das colunas.
---

In [63]:
print(data[['price', 'id', 'date']])

          price          id       date
0      221900.0  7129300520 2014-10-13
1      538000.0  6414100192 2014-12-09
2      180000.0  5631500400 2015-02-25
3      604000.0  2487200875 2014-12-09
4      510000.0  1954400510 2015-02-18
...         ...         ...        ...
21608  360000.0   263000018 2014-05-21
21609  400000.0  6600060120 2015-02-23
21610  402101.0  1523300141 2014-06-23
21611  400000.0   291310100 2015-01-16
21612  325000.0  1523300157 2014-10-15

[21613 rows x 3 columns]

---
##Seleção de dados - Pelos índices das colunas - *iloc*.
---

In [64]:
# DADOS[linhas, colunas]
print(data.iloc[0:10, 0:3])

           id       date      price
0  7129300520 2014-10-13   221900.0
1  6414100192 2014-12-09   538000.0
2  5631500400 2015-02-25   180000.0
3  2487200875 2014-12-09   604000.0
4  1954400510 2015-02-18   510000.0
5  7237550310 2014-05-12  1225000.0
6  1321400060 2014-06-27   257500.0
7  2008000270 2015-01-15   291850.0
8  2414600126 2015-04-15   229500.0
9  3793500160 2015-03-12   323000.0

---
##Seleção de dados - Pelos índices e nome das colunas - *loc.*
---

In [66]:
cols = ['price', 'id', 'date']
print(data.loc[0:10, cols])

        price          id       date
0    221900.0  7129300520 2014-10-13
1    538000.0  6414100192 2014-12-09
2    180000.0  5631500400 2015-02-25
3    604000.0  2487200875 2014-12-09
4    510000.0  1954400510 2015-02-18
5   1225000.0  7237550310 2014-05-12
6    257500.0  1321400060 2014-06-27
7    291850.0  2008000270 2015-01-15
8    229500.0  2414600126 2015-04-15
9    323000.0  3793500160 2015-03-12
10   662500.0  1736800520 2015-04-03

---
##Seleção de dados - Indices Booleanos
---

In [72]:
cols = [True, False, True, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True]
print(data.loc[0:10, cols])

            id      price  bedrooms  sqft_lot15
0   7129300520   221900.0         3        5650
1   6414100192   538000.0         3        7639
2   5631500400   180000.0         2        8062
3   2487200875   604000.0         4        5000
4   1954400510   510000.0         3        7503
5   7237550310  1225000.0         4      101930
6   1321400060   257500.0         3        6819
7   2008000270   291850.0         3        9711
8   2414600126   229500.0         3        8113
9   3793500160   323000.0         3        7570
10  1736800520   662500.0         3        8925